<!-- General -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<link rel="import" href="../../bower_components/polymer-filters/polymer-filters.html">

<!-- Same Package -->
<link rel="import" href="card-content.html" />

<script type="text/javascript" src="../../js/model/date.js"></script>

<polymer-element 
    name="card-view"
    attributes="card"
    horizontal layout stretch>
  <template>
    <link rel="stylesheet" type="text/css" href="../../css/card-view.css">

    <img class="image" src="{{'img/' + card.image }}"/>
    <div class="panel" vertical layout>

      <div class="head" horizontal layout>
        <div class="name {{card.title.length | fromSizeToClass}}" >{{card.title | truncate(26, true)}}</div>
      </div>

      <div class="summaryInfo" horizontal layout>
        <div class="type">{{card.secondary | truncate(24, true)}}</div>
        <!-- This is funky but needed to observe modification on the sub property -->
        <div class="date">{{{start: card.date.start, end: card.date.end} | toDateString}}</div>
      </div>

      <div class="content" vertical layout flex>
        <card-content id="sup" card="{{card}}" flex></card-content>
      </div>

      <div class="footer">
        <ol class="tags" horizontal layout>
          <template repeat="{{tag in card.tags}}">
            <li>{{tag }}</li>
          </template>            
        </ol>
        <div class="cardType">
          {{card.category | toVisibleCategory}}
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer('card-view', {
      titleSizeThreshold: 24,
      toDateString: function(date) {
        return new DateModel(date).toView();
      },
      fromSizeToClass: function(size) {
        return size <  this.titleSizeThreshold ? "normalSize" :
               size >= this.titleSizeThreshold ? "smallSize" :
               "";
      },
      cardChanged: function() {
        if (this.card.secondary === undefined || this.card.secondary === null || typeof(this.card.secondary) !== "string")
          throw new Error("Invalid Card Secondary Title");
        if (this.card.category === undefined || this.card.category === null || typeof(this.card.category) !== "string")
          throw new Error("Invalid Card Category");
      },
      toVisibleCategory: function(category) {
        switch (category) {
          case 'competition': return 'Competition';
          case 'education': return 'Education';
          case 'internship': return 'Internship';
          case 'project': return 'Pet Project';
          case 'publications': return 'Publications';
          case 'starredProject': return 'Starred Project';
          case 'blog': return 'Article';
          case 'club': return 'Club';
          default: return 'N/A';
        }
      },
      expand: function() {
        this.classList.add("hovered");
      },
      collapse: function() {
        this.classList.remove("hovered");
      }
    });
  </script>
</polymer-element>
