:host {
  @apply(--layout-horizontal);
}

:host #cards {
  font-family: 'RobotoDraft', sans-serif;
  background-image: url('../../img/texture9.jpg');
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  color:white;
}
:host iron-pages {
  width: 100%;
  height: 100%;
}
:host #main {
  @apply(--layout-horizontal);
}
:host #cards {
  @apply(--layout-horizontal);
  @apply(--layout-flex);
  @apply(--layout-wrap);
}