<link rel="import" href="../bower_components/polymer/polymer.html">

/**
 * Random keypress sequence detector.
 */
<polymer-element name="konami-signal" hidden>
  <script type="text/javascript" src="../js/base/circularBuffer.js"></script>
  <script>
  var 
  	keys = {
  	  up: 38, 
  	  down: 40,
  	  left: 37,
  	  right: 39,
  	  a: 65,
  	  b: 66
  	};

    function arrayEquals(lhs, rhs) {
      if (lhs === null || lhs === undefined) return false;
      if (rhs === null || rhs === undefined) return false;
      if (!Array.isArray(lhs)) return false;
      if (!Array.isArray(rhs)) return false;
      if (lhs.length !== rhs.length) return false;

    	for (var i = 0; i < lhs.length; i++) {
        if (lhs[i] !== rhs[i]) 
          return false
      } 
    	return true;
    }

    Polymer('konami-signal', {
      buffer: null,
      code: [keys.a, keys.b, keys.right, keys.left, keys.right, keys.left, keys.down, keys.down, keys.up, keys.up],
      //code: [keys.a],
      ready: function () {
      	document.addEventListener('keyup', this.keypressHandler.bind(this));
        this.buffer = new CircularBuffer(this.code.length);
      },
      keypressHandler: function(event, _, __) {
        this.buffer.push(event.keyCode);
      	if (arrayEquals(this.buffer.all(), this.code)) 
      		this.fire('core-signal', {name: 'konami', data: null});
      }
    });
  </script>
</polymer-element>