<link rel="import" href="../bower_components/polymer/polymer.html">

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

<polymer-element name="top-card">
  <template>
    <link rel="stylesheet" type="text/css" href="../css/top-card.css">

    <div class="panel" vertical layout center>
      <div class="name">{{name}}</div>
      <div class="workTitle">{{workTitle}}</div>
      <div class="handle" horizontal layout flex>
        <img src="../img/internal/profile.png" />
        <span>{{handle}}</span>
      </div>
    </div>
    </div>
  </template>
  <script>
    Polymer('top-card', {
      name: 'Maxime Lavigne',
      workTitle: 'Software Engineer',
      handle: 'malavv'
    });
  </script>
</polymer-element>