<!-- General -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-field/core-field.html"> 
<link rel="import" href="../../bower_components/core-list/core-list.html"> 
<link rel="import" href="../../bower_components/core-icon/core-icon.html"> 
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html"> 

<!-- Same Package -->
<link rel="import" href="../card/card-array.html"> 
<link rel="import" href="../card/card-author.html"> 

<polymer-element name="admin-editor" vertical layout attributes="card templates">
  <template>
    <link rel="stylesheet" type="text/css" href="../../css/admin-editor.css">

    <!-- Actual HTML -->
    <template if="{{card}}">
      <div class="header">Generic</div>
      <template bind ref="generic"></template>
      <div class="header">Extensions</div>
      <template bind ref="{{card.category}}"></template>
    </template>

    <!-- Templates -->
    <template id="generic">
      <core-field><label>Title</label><input value="{{card.title}}" flex></core-field>
      <core-field><label>Secondary</label><input value="{{card.secondary}}" flex></core-field>
      <core-field>
        <label>Card Category</label>
        <select name="categorySelector" value="{{card.category}}" flex>
          <option value="competition" selected="selected">Competition</option>
          <option value="education">Education</option>
          <option value="internship">Internship</option>
          <option value="project">Project</option>
          <option value="publications">Publications</option>
          <option value="starredProject">Starred Project</option>
          <option value="blog">Article</option>
          <option value="club">Club</option>
        </select>
      </core-field>
      <core-field><label>Start date</label><input value="{{card.date.start}}" flex></core-field>
      <core-field><label>End Date</label><input value="{{card.date.end}}" flex></core-field>
      <core-field><label>Image</label><input value="{{card.image}}" flex></core-field>
      <core-field>
        <label>Tags</label>
        <card-array model="{{card.tags}}" flex></card-array>
      </core-field>
    </template>
    <template id="competition">
      <core-field><label>position</label><input value="{{card.content.position}}" flex></core-field>
      <core-field><label>outOf</label><input value="{{card.content.outOf}}" flex></core-field>
      <core-field>
        <label>keywords</label>
        <card-array model="{{card.content.keywords}}" flex></card-array>
    </template>
    <template id="education">
      <core-field><label>subject</label><input value="{{card.content.subject}}" flex></core-field>
      <core-field><label>speciality</label><input value="{{card.content.speciality}}" flex></core-field>
    </template>
    <template id="internship">
      <core-field>
        <label>Keywords</label>
        <card-array model="{{card.content.keywords}}" flex></card-array>
      </core-field>
    </template>
    <template id="project">
      <core-field>
        <label>Keywords</label>
        <card-array model="{{card.content.keywords}}" flex></card-array>
      </core-field>
      <core-field>
        <label>Authors</label>
        <card-author model="{{card.content.authors}}" flex></card-author>
      </core-field>
    </template>
    <template id="publications">
      <core-field>
        <label>Abstract</label>
        <textarea value="{{card.content.abstract}}" flex></textarea>
      </core-field>
      <core-field>
        <label>Authors</label>
        <card-author model="{{card.content.authors}}" flex></card-author>
      </core-field>
    </template>
    <template id="starredProject">
      <core-field>
        <label>Description</label>
        <textarea value="{{card.content.description}}" flex></textarea>
      </core-field>
      <core-field>
        <label>Link</label>
        <input value="{{card.content.link}}" flex>
      </core-field>
    </template>
    <template id="blog">
      <core-field>
        <label>Description</label>
        <textarea value="{{card.content.description}}" flex></textarea>
      </core-field>
      <core-field>
        <label>Link</label>
        <input value="{{card.content.link}}" flex>
      </core-field>
    </template>
    <template id="club">
      <core-field>
        <label>Keywords</label>
        <card-array model="{{card.content.keywords}}" flex></card-array>
      </core-field>
      <core-field>
        <label>Link</label>
        <input value="{{card.content.link}}" flex>
      </core-field>
    </template>
  </template>
  <script>
    Polymer('admin-editor', {
      keywords: function(keys) {
        console.log("keys");
      }
    });
  </script>
</polymer-element>