<!-- General -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-splitter/core-splitter.html">

<!-- Site -->
<link rel="import" href="../card/card-view.html"> 

<!-- Same Package -->
<link rel="import" href="admin-cardlist.html" />
<link rel="import" href="admin-editor.html" />

<polymer-element name="admin-manager" horizontal layout stretch attributes="cards">
  <template>
    <link rel="stylesheet" type="text/css" href="../../css/admin-manager.css">

    <admin-cardlist cards="{{cards}}" selection="{{current}}"></admin-cardlist>
    <div vertical layout flex>
      <template if={{current}}>
        <div class="viewer" horizontal layout stretch center>
          <card-view card="{{current}}"></card-view>
        </div>
        <core-splitter minSize="230px" direction="up"></core-splitter>
        
      </template>
      <admin-editor card={{current}}></admin-editor>
    </div>
  </template>
  <script>
    Polymer('admin-manager', {});
  </script>
</polymer-element>